<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adminMapper">
	<select id="screenList" resultType="timeVo" parameterType="timeVo">
		 <!-- select * from screeninfo -->
		 select screeninfo.* ,movie.title from screeninfo,movie
		<include refid="whereDate"/>
		
		order by screeninfo.scNum
	</select>
	
	<sql id="whereDate">
		<where>	

			<choose>
				<when test="mstart!=null">
					TO_CHAR(mstart, 'yyyy-MM-dd') = #{showdate} and screeninfo.mID = movie.mID
				</when>
				<otherwise>
					trunc(mstart) = trunc(sysdate) and screeninfo.mID = movie.mID
				</otherwise>	
			</choose>
		</where>
	</sql>
	
	<select id="timeChk" resultType="timeVo" parameterType="timeVo">
		 select * from screeninfo where TO_CHAR(mstart, 'yyyy-MM-dd hh24:mi') = #{showtime}
	</select>
	
	<sql id="whereInfo">
		<where>	
			<choose>
				<when test="showtime!=null and showtime!=''">
					TO_CHAR(mstart, 'yyyy-MM-dd HH:mi') = #{showtime} 
					and mID = #{mID}
				</when>
			</choose>
		</where>
	</sql>
	
	
	
	<select id="movieList" resultType="movieVo" >
		select * from movie 
	</select>
	
	<select id="getScreen" resultType="screenVo" >
		select * from cinema
	</select>
	
	<select id="insertCinema" parameterType="timeVo"  >
		insert into screeninfo(
		sID,scNum,mstart,mID,showtime) 
		values(	SCREEN_SID.NEXTVAL,	#{scNum}, 
		TO_TIMESTAMP(#{showtime},'yyyy-MM-dd hh24:mi'),#{mID},#{showtime})
	</select>

	
	<!-- 시간중복체크 -->
		
	<sql id="runtime">
		(select runtime from movie where mid=#{mID})
	</sql>
	
	<sql id="ggg">
		<where>	
			TO_TIMESTAMP(#{showtime},'yyyy-MM-dd hh24:mi')
			BETWEEN CAST(mstart as DATE ) 
			AND CAST(mstart+(<include refid="runtime"/>+20)/(24*60) as DATE ) 
			and SCNUM = #{scNum}
		</where>
	</sql>

	
	<select id="timeOverlap" resultType="timeVo" parameterType="timeVo" >
		select * from screeninfo
		<include refid="ggg"/>
	</select>

	<!--                                         -->
	
	
</mapper>