<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">


	<sql id="bkind">
		<where> kind = #{kind}</where>
	</sql>

	<select id="boardList" resultType="boardVo"
		parameterType="boardVo">

		select * from board
		<include refid="bkind"></include>
		order by gid desc
	</select>


	<select id="totalCount" resultType="java.lang.Integer"
		parameterType="hashmap"><!-- schCol / title -->
		select count(*) from board 
		<include refid="whereSch" />
	</select>

	<!-- <include refid="boardList"/> -->
	<!-- <select id="someList" resultType="boardVo" parameterType="hashmap"> 
		select * from (select rownum rnum, tt.* from (select * from board <include 
		refid="whereSch" /> order by bid desc) tt) <![CDATA[ where rnum >=#{start} 
		and rnum <= #{end} ]]> </select> -->
	<select id="someList" resultType="boardVo"
		parameterType="boardVo">
		select * from
		(select rownum rnum, tt.* from
		(select * from board
		<include refid="whereSch" />
		order by bid desc) tt) 
	<![CDATA[ where rnum >=#{start} and rnum <= #{end} ]]>
	</select>

	<!-- <sql id="whereSch"> <where> kind = #{kind} <if test="gogo!=null and 
		gogo!=''"> ${schCol} like '%${gogo}%' </if> </where> </sql> -->
	<sql id="whereSch">
		<where>
		kind = #{kind}
			<if test="title!=null and title!=''">
				<!-- <choose> <when test="schCol=='cnt'"> <![CDATA[ cnt <= #{title}]]> 
					</when> <otherwise> -->
				and ${schCol} like '%'||#{title}||'%'
				<!-- </otherwise> </choose> -->
			</if>
		</where>
	</sql>
	<select id="boardListSch" resultType="boardVo"
		parameterType="boardVo">
		select * from board
		<include refid="whereSch" />
		order by gid desc
	</select>

	<select id="boardListCnt" resultType="boardVo"
		parameterType="boardVo">
		<![CDATA[
		select * from board where cnt <= #{cnt} order by gid desc
		]]>

	</select>


	<select id="boardDetail" resultType="boardVo"
		parameterType="boardVo">
		select * from board where bid = #{bid}
	</select>

	<update id="cntup" parameterType="boardVo">
		update board set cnt=cnt+1
		where bid=${bid}
	</update>

	<sql id="maxId">
		(select max(bid)+1 from board)
	</sql>


	<insert id="boardInsert" parameterType="boardVo">
		<selectKey keyProperty="bid" order="BEFORE"
			resultType="java.lang.Integer">
			<include refid="maxId" />
		</selectKey>
		insert into board
		(bid, gid, seq, lev, cnt , regdate, pid, pw, title,
		content, upfile, kind)
		values (#{bid}, #{bid}, 0, 0, -1 , sysdate,
		#{pid}, #{pw}, #{title}, #{content}, #{upfile}, #{kind})
	</insert>

	<update id="boardModify" parameterType="boardVo">
		update board set
		title=#{title}, content=#{content}, upfile=#{upfile} ,pw=#{pw},
		cnt=cnt-1
		where bid=#{bid}
	</update>

	<select id="findBoard" parameterType="java.lang.Integer"
		resultType="boardVo">
		select * from board where bid=#{bid}
	</select>


	<delete id="boardDelete" parameterType="boardVo">
		delete from board where
		bid=#{bid}
	</delete>

	<!-- <insert id="boardInsert" parameterType="boardVo"> <selectKey keyProperty="bid" 
		order="BEFORE" resultType="java.lang.Integer"> <include refid="maxId" /> 
		</selectKey> insert into board (bid, gid, seq, lev, cnt , regdate, pid, pw, 
		title,content, upfile) values (#{bid}, #{bid}, 0, 0, 0 , sysdate, #{pid}, 
		#{pw}, #{title}, ${content},#{upfile}; </insert> -->
	<!-- <insert id="boardInsertList" parameterType="boardVo"> insert all <foreach 
		collection="arr" item="row" index="no"> into board (bid, gid, seq, lev, cnt 
		, regdate, pname, pw, title,content) values ( <include refid="maxId" /> +#{no}, 
		<include refid="maxId" /> +#{no}, 0, 0, 0 , sysdate, #{row.pname}, #{row.pw}, 
		#{row.title},#{row.content}) </foreach> select * from dual </insert> -->

</mapper>