<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">
	<sql id="bkind">
		<where> kind = #{kind}</where>
	</sql>
<!-- 
	<select id="boardList" resultType="boardVo"
		parameterType="boardVo">

		select * from board
		<include refid="bkind"></include>
		order by gid desc
	</select> -->


	<select id="totalCount1" resultType="java.lang.Integer"
		parameterType="hashmap"><!-- schCol / title -->
		select count(*) from board
		<include refid="whereSch" />
	</select>

	<select id="totalCount2" resultType="java.lang.Integer"
		parameterType="java.lang.String"><!-- schCol / title -->
		select count(*) from board
		<include refid="bkind" />
	</select>

	<!-- <include refid="boardList"/> -->
	<!-- <select id="someList" resultType="boardVo" parameterType="hashmap"> 
		select * from (select rownum rnum, tt.* from (select * from board <include 
		refid="whereSch" /> order by bid desc) tt) <![CDATA[ where rnum >=#{start} 
		and rnum <= #{end} ]]> </select> -->
	<select id="someList" resultType="boardVo"
		parameterType="boardVo">
		select * from
		(select rownum rnum, tt.* from
		(select * from board
		<include refid="whereSch" />
		order by gid desc, seq) tt) 
	<![CDATA[ where rnum >=#{start} and rnum <= #{end} ]]>
	</select>

	<!-- <sql id="whereSch"> <where> kind = #{kind} <if test="gogo!=null and 
		gogo!=''"> ${schCol} like '%${gogo}%' </if> </where> </sql> -->
	<sql id="whereSch">
		<where>
			kind = #{kind}
			<if test="title!=null and title!=''">
				<!-- <choose> <when test="schCol=='cnt'"> <![CDATA[ cnt <= #{title}]]> 
					</when> <otherwise> -->
				and ${schCol} like '%'||#{title}||'%'
				<!-- </otherwise> </choose> -->
			</if>
		</where>
	</sql>
	<select id="boardListSch" resultType="boardVo"
		parameterType="boardVo">
		select * from board
		<include refid="whereSch" />
		order by gid desc
	</select>

	<select id="boardListCnt" resultType="boardVo"
		parameterType="boardVo">
		<![CDATA[
		select * from board where cnt <= #{cnt} order by gid desc
		]]>
	</select>

	<select id="boardDetail" resultType="boardVo"
		parameterType="boardVo">
		select * from board where bid = #{bid}
	</select>

	<update id="cntup" parameterType="boardVo">
		update board set cnt=cnt+1
		where bid=${bid}
	</update>

	<sql id="maxId">
		(select max(bid)+1 from board)
	</sql>


	<insert id="boardInsert" parameterType="boardVo">
		<selectKey keyProperty="bid" order="BEFORE"
			resultType="java.lang.Integer">
			<include refid="maxId" />
		</selectKey>
		insert into board
		(bid, gid, seq, lev, cnt , regdate, pid, pw, title,
		content, upfile, kind)
		values (#{bid}, #{bid}, 0, 0, -1 , sysdate,
		#{pid}, #{pw}, #{title}, #{content}, #{upfile}, #{kind})
	</insert>


	<sql id="whereseq">
		<where>
<![CDATA[
gid = #{gid} and seq > #{seq} and kind = #{kind}
		]]>
		</where>
	</sql>

	<update id="nextseq" parameterType="boardVo">
		update board set seq = seq+1
		<include refid="whereseq" />
	</update>

	<insert id="replyInsert" parameterType="boardVo">
		<selectKey keyProperty="bid" order="BEFORE"
			resultType="java.lang.Integer">
			<include refid="maxId" />
		</selectKey>
		insert into board
		(bid, gid, seq, lev, cnt , regdate, pid, pw, title,
		content, kind)
		values (#{bid}, #{gid}, #{seq}+1, #{lev}+1, -1
		, sysdate, #{pid}, #{pw}, #{title}, #{content}, #{kind})
	</insert>

	<update id="boardModify" parameterType="boardVo">
		update board set
		title=#{title}, content=#{content}, upfile=#{upfile} ,pw=#{pw},
		cnt=cnt-1
		where bid=#{bid}
	</update>

	<select id="findBoard" parameterType="java.lang.Integer"
		resultType="boardVo">
		select * from board where bid=#{bid}
	</select>

	<delete id="boardDelete" parameterType="boardVo">
		delete from board where
		bid=#{bid}
	</delete>

</mapper>