<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mem">

	<select id="isChk" parameterType="memberVo" resultType="memberVo">
		select * from member 
		<where>
			id = #{id} and pw= #{pw}
		</where>
	</select>

	<insert id="join" parameterType="memberVo">
		insert into member (id, pw, name, email, phone, birth, out)
		values (#{id}, #{pw}, #{name}, #{email}, #{phone}, #{birth}, 0)
	
	</insert><!--  ㅁㅁ-->
</mapper>