<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mov">

	<select id="list" resultType="movVo">
		select * from movie order by title
	</select>
	
 	<select id="dateList" resultType="screenInfoVo">
		select * from screeninfo
		
		<!-- <include refid="whereDate"></include> -->
	</select> 
	
	<select id="findInfo" resultType="screenInfoVo">
		select * from screeninfo where sid=#{sId}
	</select>
<!-- 	<sql id="whereDate">
		<where>
			#{}
		</where>
	</sql> -->
</mapper>