<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mov">

	<select id="list" resultType="movVo">
		select * from movie order by title
	</select>
	
 	<select id="dateList" resultType="screenInfoVo">
		select * from screeninfo
	</select> 
	
	<select id="findInfo" resultType="screenInfoVo">
		select 
		movie.title as movtitle,
		to_char(screeninfo.mstart,'YYYY-MM-dd') as mdate, 
		to_char(screeninfo.mstart,'HH24:mi ') as mtime 
		from screeninfo, movie
		where screeninfo.mid = movie.mid and screeninfo.sid = #{sId}
	</select>

	<select id="findMovie" resultType="movVo">
		select * from movie where mid=#{mId}
	</select>

	<select id="midList" resultType="screenInfoVo">
		select distinct mid from screeninfo  
	</select>
	
	<select id="dateTitleList" resultType="screenInfoVo">
		select 
		to_char(screeninfo.mstart,'YYYY-MM-DD') as mdate, 
		to_char(screeninfo.mstart,'HH24:mi') as mtime, 
		movie.title as movtitle, 
		screeninfo.sid,
		movie.mid  
		from screeninfo, movie 
		where screeninfo.mid = movie.mid
		order by movtitle asc
	</select>
	
	<select id="titleList" resultType="MovVo">
		select distinct
		movie.title,
		movie.poster, 
		movie.mid
		from screeninfo, movie
        where screeninfo.mid = movie.mid
        order by movie.title
	</select>
	
</mapper> 